node_modules/
.netlify/
storybook-static/
storybook-static-mcp/
storybook-markdown-generated/
playwright-report/
test-results/
*.tgz
debug-storybook.log

dist/
example-markdown-generated/
custom-doc-pages/

download/
